spring:
  jpa:
    database: mysql
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: false
        default_batch_fetch_size: 10
  datasource:
    username: root
    url: jdbc:mysql://mysql:3306/kotlin_portfolio
    password: ENC(VzJ3WI/DW4y02vNsP5U+cSWymwD+ws0c)
    driver-class-name: com.mysql.cj.jdbc.Driver